:root {
  --bg-app: #0f172a;
  --bg-surface: #111827;
  --bg-panel: #1e293b;

  --border-color: #1f2937;

  --text-primary: #f8fafc;
  --text-secondary: #94a3b8;

  --primary: #2563eb;
  --success: #10b981;
  --warning: #f59e0b;
  --danger: #ef4444;

  --radius: 10px;

  --transition: 0.2s ease;
}